/** Reset */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Lato', sans-serif;
    height: 100vh;
    background: linear-gradient(to bottom, rgba(0,150,136,1) 140px, rgba(215,219,214,1) 140px 100%);
}

.container {
    display: grid;
    grid-template-columns: 4fr 9fr;
    height: 90vh;
    margin: 2rem auto;
    width: 92.375rem;
    border: 1px solid rgba(0, 0, 0, 0.1);
    box-shadow: 0 0 1rem 0.05rem rgb(0 0 0 / 20%);
}
/** Common */
.space-icon {
    margin: 0 2.5rem;
}

.color-filter {
    filter: invert(33%) sepia(9%) saturate(444%) hue-rotate(158deg) brightness(91%) contrast(84%);
}

.color-filter-laptop {
    filter: invert(71%) sepia(0%) saturate(126%) hue-rotate(158deg) brightness(81%) contrast(91%);
}
/** Sidebar */
.sidebar {
    border-right: 1px solid rgba(0, 0, 0, 0.2);
    background-color: #fff;
}

.sidebar-header, .sidebar-header-icons {
    display: flex;
}

.sidebar-header {
    justify-content: space-between;
    background-color: #eaeaea;
    height: 3.6875rem;
    padding: 0.625rem 1.25rem;
}
/** Sidebar Icon */
.sidebar-header-icons {
    justify-content: flex-end;
    align-items: center;
    cursor: pointer;
}
/** /Sidebar Icon */
/** Sidebar Name and Image */
.avatar-name {
    display: flex;
    align-items: center;
}

.avatar-name > img {
    height: 2.6rem;
    border-radius: 50%;
    cursor: pointer;
    margin-right: 0.625rem;
}
/** /Sidebar Name and Image */
/** Notification Section */
.new-notifications {
    display: flex;
    align-items: center;
    background-color: #9de1fe;
    height: 5.5rem;
    cursor: pointer;
}

.new-notifications > img {
    margin-right: 0.625rem;
    padding: 0.625rem 1.25rem;
}

.message-notifications {
    display: flex;
    flex-direction: column;
}

.message-notifications > span:first-child {
    margin-bottom: 0.313rem;
    font-size: 16px;
    line-height: 21px;
    color: rgba(48,48,48,0.96);
}

.message-notifications > span:last-child  {
    font-weight: 300;
}

.message-notifications a  {
    text-decoration: none;
    font-size: 14px;
    line-height: 19px;
    color: #303030d9;
}

.message-notifications > a > img {
    vertical-align: middle;
}

.message-notifications a:hover {
    text-decoration: underline;
}
/** /Notification Section */
.search-chat {
    background-color: #f6f6f6;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}
/** Search Section */
.search-chat-contain {
    display: flex;
    border-bottom: 1px solid rgb(237 237 237);
    padding: 0.5rem;
}

.search-chat-contain > img {
    width: 2.8rem;
    background-color: #fff;
    border-top-left-radius: 2rem;
    border-bottom-left-radius: 2rem;
    padding-left: 1rem;
}

.search-chat-contain > input {
    outline: none;
    border: none;
    padding: 0.5rem 0.5rem 0.5rem 2rem;
    flex: 1;
    border-top-right-radius: 2rem;
    border-bottom-right-radius: 2rem;
    font-size: 0.938rem;
}
/** /Search Section */
/** Chats Section */
.chats-container {
    overflow-y: auto;
    height: 72vh;
    background-color: #fff;
}

.chat {
    display: flex;
    align-items: center;
    background: #fff;
    padding: 1rem 0 0 1rem;
    cursor: pointer;
}

.chat img {
    border-radius: 50%;
    width: 3.6875rem;
}

.contact-chat-right {
    display: flex;
    flex-direction: column;
    flex: 1;
    margin-left: 1.5rem;
    padding-right: 2rem;
    padding-bottom: 1rem;
    border-bottom: 1px solid rgb(237, 237, 237);
}

.contact-chat-top {
    display: flex;
    align-items: baseline;
    justify-content: space-between;
    margin-bottom: 0.5rem;
}

.contact-chat-top span:first-child {
    font-size: 1.0625rem;
    font-weight: 400;
}

.contact-chat-top span:last-child {
    font-size: .75rem;
    color: rgb(145, 145, 145);
}

.contact-chat-bottom {
    display: flex;
}

.contact-chat-bottom-left {
    display: flex;
    align-items: flex-end;
    flex: 1;
}

.last-chat-message, .contact-chat-bottom-right {
    color: rgb(145, 145, 145);
}
/** /Chats Section */
/** Main Chats Section */
.main-chats-container {
    display: flex;
    flex-direction: column;
    overflow-y: auto;
}

.header-chat-message {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #eaeaea;
    height: 3.6875rem;
    padding: 0.625rem 1.25rem;
}

.header-msg-information-left {
    display: flex;
    align-items: center;
}

.header-msg-information-left img {
    height: 2.6rem;
    margin-right: 1.5rem;
    border-radius: 50%;
    cursor: pointer;
}

.header-msg-information-right img:first-child {
    margin-right: 2rem;
}

.main-chat-container {
    display: flex;
    flex-direction: column;
}

.main-chat-message, .intro-connection {
    display: flex;
    flex-direction: column;
    padding: 3rem 5rem 0rem 5rem;
    flex-grow: 3;
    overflow-y: scroll;
}

.main-chat-message {
    background-image: url("../img/mine.jpg");
}

.intro-connection {
    padding: 6rem 5rem 6rem 5rem;
    background-color: #f8f9fa;
    border-bottom: .4375rem solid rgb(74, 223, 131);
    overflow-y: hidden;
}

.bgd-no-selected {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 auto;
    width: 32.875rem;
    text-align: center;
}

.img-intro {
    margin-top: 3.5rem;
}

.intro-title {
    margin-top: 2.375rem;
}

.intro-title h1 {
    font-size: 2.25rem;
    font-weight: 300;
    color: rgb(82, 82, 82)
}

.intro-description {
    margin-top: 1.5rem;
    border-bottom: 1px solid #00000014;
    padding-bottom: 30px;
}

.intro-description span {
    font-size: .875rem;
    line-height: 1.25rem;
    color: rgba(0,0,0,0.45);
}

.intro-version {
    display: flex;
    align-items: center;
    margin-top: 2.1875rem;
}

.intro-version img {
    height: 1.125rem;
    width: 1.3125rem;
    margin-right: .3125rem;
}

.intro-version span {
    color: rgba(0,0,0,0.45);
    font-size: 14px;
    line-height: 20px;
}

.intro-version a {
    color: rgb(10, 165, 69);
    text-decoration: none;
    margin-left: .125rem;
}

.sent-msg, .reciver-msg {
    border-radius: 0.5rem;
    border-top-right-radius: 0;
    padding: 0.8rem 1rem;
    max-width: 24.375rem;
    margin-bottom: 0.3rem;
    position: relative;
}

.sent-msg {
    background: rgb(220, 248, 198);
    align-self: flex-end;
}

.message-sent {
    font-size: 1rem;
    margin-right: 5rem;
    word-wrap: break-word;
}

.msg-time {
    color: rgb(145, 145, 145);
    font-size: .75rem;
    vertical-align: sub;
    position: absolute;
    right: .3125rem;
    bottom: .1875rem;
}

.msg-time img {
    vertical-align: sub;
}

.reciver-msg {
    background: #fff;
    align-self: flex-start;
}

.receiver-msg-tail, .sent-msg-tail {
    width: 0.8rem;
    height: 1.3rem;
    position: absolute;
    top: 0;
}

.sent-msg-tail {
    right: -0.75rem;
}

.sent-msg-tail img {
    width: .75rem;
}

.receiver-msg-tail {
    left: -0.4rem;
}
/** /Main Chats Section */
.footer-chat-message {
    display: flex;
    align-items: center;
    width: 100%;
    height: 3.875rem;
    padding: 1rem 2rem;
    background: #f0f0f0;
}

.left-icon-text img {
    cursor: pointer;
}

.left-icon-text img:last-child {
    margin: 0 2rem;
}

.text-message {
    flex: 1;
}

.text-message input {
    width: 100%;
    border: none;
    padding: 0.8rem 1rem 1rem 2rem;
    border-radius: 2rem;
    outline: none;
}

.right-icon-message {
    margin-left: 2rem;
}

.right-icon-message img {
    cursor: pointer;
}